/* Write your code here. */
#root {
  background-color: #0f172a;
  height: 100vh;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 577px) {
  .heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 25px;
    text-align: center;
  }
  .img-container {
    width: 100%;
  }
  img {
    width: 50%;
    height: 50%;
  }
  .content-container {
    width: 50%;
    align-self: center;
  }
}

@media (min-width: 578px) {
  .heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 25px;
    text-align: center;
  }
  .img-container {
    width: 100%;
  }
  img {
    width: 50%;
  }
  .content-container {
    width: 50%;
    align-self: center;
  }
}
